.nav-bar{
	width:100%;
	border-bottom: 1px solid #eee;
	height: 20px;
	line-height: 20px;
	margin-top:10px;
	padding-bottom: 10px;
}
.nav-bar a{
	color: #666;
}
.nav-bar a:hover{
	color:#0092d8;
}
.top{
	margin:20px 0px;
}
.detail-left{
	float: left;
	padding-left: 85px;
	position:relative;
}

.lbox{
	width:500px;
	height:500px;
	margin-right:95px;
	position:relative;
}
.lbox img{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
}

/* 小滑块 */
.detail-pic{
	position: absolute;
    background-color: #0080dc;
    opacity: 0.2;
    width: 200px;
    height: 200px;
    z-index:100;
    display: none;
    cursor:move;
}
.rbox{
    width: 400px;
    height: 400px;
    background-color:#fff;
    overflow:hidden;
    right:-350px;
	top:0px;
	z-index:20;
    display: none;
    position:absolute;
}
.rimg{
    width: 1000px;
    height: 1000px;
    position:absolute;
}

.det-lis1,.share-collect{
	margin-top:20px;
	padding-left:50px;
	overflow: hidden;
}
.det-lis1{
	margin-top:50px;
}
.det-lis1 li{
	float: left;
	width:60px;
	height:60px;
	border:1px solid #d6d6d6;
	background-color: #fff;
	margin:1px 10px 1px 1px;
	opacity: 0.4;
	cursor: pointer;
}
.det-lis1 .det-cur{
	border:2px solid #f60;
	margin:0px 10px 0px 0px;
	opacity:1;
	position: relative;
}
.det-lis1 img{
	width:60px;
	height:60px;
}
.share-collect{
	height:18px;
	overflow:hidden;
}
.share-box{
	float: left;
	width:120px;
}
.share-box{
	border-right: 1px solid #eee;
	position:relative;
}
.det-icon{
	position:absolute;
	width:21px;
	height:18px;
	background-image: url('../images/detail_sprite.png');
}
.icon-qq{
	background-position: -17px -66px;
	right:56px;
}
.icon-wx{
	background-position: -38px -66px;
	right:26px;
}
.col-icon{
	background-position: -37px -90px;
	left:13px;
}
.com-icon{
	background-position: -100px -125px;
	left:16px;

}
.collect-box span{
	position:relative;
	padding-left:40px;
}

.detail-right{
	float: right;
	width:510px;
}

.de-one{
	font-size: 22px;
	line-height:28px;
	color:#333;
}
.de-one span{
	display: inline-block;
	margin-right:5px;
	height:14px;
	line-height:14px;
	font-size: 12px;
	color:#f60;
	padding:5px 8px;
	border:1px solid #f60;
	border-radius: 2px;
}
.de-two{
	line-height:30px;
}
.de-pr{
	color:#0092d8;
	border:1px solid #0092d8;
	padding:1px 2px;
	border-radius:2px;
}
.de-prt{
	color:#f60;
	position:relative;
}
.de-prd{
	color: #0092d8;
}
.de-three{
	background-color:#f2f2f2;
	padding:15px 20px;
	margin:10px 0px 0px;
}
.de-three h3{
	color:#f60;
	font-size:32px;
}
.de-three p{
	padding-left:7px;
}

.dpro-icon{
	display:inline-block;
	width:28px;
	height:12px;
	background-image:url('../images/pro.png');
	background-size: 100%;
	margin-left: 5px;
	margin-right:10px;
}
.det-ic{
	background-position:0px -166px;
}
.det-open{
  padding-left:30px;
  position:relative;
  cursor: pointer;
}
.det-lg{
	background-position:-136px -105px;
	top:-2px;
}

.de-four{
	padding:20px 0px;
	border-bottom:1px dashed #eee;
	overflow:hidden;
}
.de-num{
	padding:10px 0px;
	border-bottom:1px dashed #eee;
	overflow:hidden;
}
.de-right{
	float: left;
	width: 54px;
	color:#999;
	line-height:18px;
}
.give{
	display:inline-block;
	margin-right:10px;
	padding:2px 10px;
	background-color: #f60;
	color:#fff;
	cursor: pointer;

}
.de-tik1,.de-tik2{
	padding:2px 8px;
	color:#fff;
	position:relative;
	background-color:#ff784c;
	cursor: pointer;
}
.de-tik2{
	left:-4px;
	border-left: 1px dashed #fff;
}
.five-icon{
	width:6px;
	height:20px;
	position:absolute;
	top:0px;
	background-image:url('../images/detail_sprite.png');
}
.f-one{
	background-position:-47px 0px;
	left:-6px;
}
.f-two{
	background-position:-60px 0px;
	right:-5px;
}
.de-six a{
	display:inline-block;
	height:24px;
	line-height:24px;
	padding:0px 10px;
	border:1px solid #90ebae;
	border-radius: 2px;
	margin-right:15px;
}
.detail-all{
	padding:15px 0px 0px;
	line-height:36px;
	overflow:hidden;
}
.detail-all .de-right{
	line-height:36px;
}
.de7 img{
	 width:36px;
	 height:36px;
	 float: left;
}
.de7 span{
	 float: left;
    font-size: 12px;
    line-height: 36px;
    margin: 0 10px;
}
.de7 .de-left{
	border:2px solid #f60;
	float: left;
	cursor: pointer;
}
.de8 a{
	display:inline-block;
	padding:0px 8px;
	border:1px solid #eee;
    line-height: 30px;

}
.de8 a:nth-child(2){
	display:inline-block;
	margin-left:10px;
	border:2px solid #f60;
}
.de9{
	margin:15px 0px;
	line-height: 30px;
}
.de9 .de-right,.deliver .de-right{
	line-height:30px;
}
.de9 p{
	border:1px solid #eee;
	float: left;
	margin-right:10px;
}
.nums{
	display:inline-block;
	padding:5px 10px;
	height:20px;
	line-height:20px;
	border:1px solid #eee;
	margin:0px;
	cursor: pointer;
}
.num-icon{
	display:inline-block;
	width:12px;
    height:12px;
    background: url('../images/detail_sprite.png');
    margin:0px;
}
.num1{
	background-position:-19px -109px;
}
.num2{
	border-left:none;
	border-right:none;
}
.num3{
	background-position:-38px -109px;
}
.num4{
	color:#999;
}
.deliver p{
	line-height:20px;
}
.addre{
	display:inline-block;
	border:1px solid #999;
	padding:5px 10px;
	position: relative;
	cursor: pointer;
}
.addr-icon{
	background-position: -56px -115px;
}
.deliver-time{
	color: #999;
	margin-left: 52px;
	margin-top: 6px;
	position: relative;
	width: 220px;
}
.det-lg1{
	background-position:0px -166px;
	top:1px;
	right:0px;
}

.bussi{
	margin-top: 20px;
	margin-bottom: 30px;
}
.der-btn{
	overflow: hidden;
}
.add-cart,.buy-btn{
	display: inline-block;
	width:200px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color: #fff;
	border-radius: 2px;
	font-size: 14px;
}
.add-cart{
	background-color:#0092d8;
	margin-right: 10px;
}
.add-cart:hover{
	background-color: #006FA3;
}
.buy-btn{
	background-color: #f60;
}

.buy-btn:hover{
	background-color: #D95700;
}

.right-last{
	line-height: 40px;
	margin-bottom: 20px;
}
.right-last span{
	display: inline-block;
	padding:0px 22px;
	position: relative;
}
.ricon{
	position: absolute;
	width: 20px;
	height:20px;
	background-position: 0px -65px;
	left:-1px;
	top:10px;
}

/*为你推荐*/
.center-tab{
	width:1200px;
	min-height: 315px;
	border:1px solid #e6e6e6;
	margin:0px 0px 60px;
}

.center-title{
	height: 56px;
	line-height: 56px;
	padding: 0px 30px;
	font-size:16px;
	border-bottom: 1px solid #e6e6e6;
}
.center-lis li{
	float: left;
	margin:30px 35px;
	text-align: center;
	position: relative;
}
.center-lis img{
	display: inline-block;
	margin-bottom: 10px;
	width: 166px;
	height: 166px;
}
.c-name{
	display: block;
	width: 166px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 12px;
}

.c-price{
	color: #f60;
}

.tehui{
	position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    height: 19px;
    line-height: 18px;
    padding: 2px 10px;
    background-color: #ff6600;;
}

/*产品介绍*/
.intro{
	width:100%;
	height: 70px;
	margin:0 auto;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 40px;
    background-color:#fff;
    position:relative;
    z-index:50;
}

.fixdenav{
	position:fixed;
	top:0px;
}

.intro-left{
	float: left;
	display:none;
}
.intro-left img{
	width: 55px;
    height: 55px;
    margin-top: 8px;
}
.intro-product{
	display: inline-block;
	padding-left: 10px;
	margin-bottom: 20px;
}
.intro-name{
	color: #000;
    height: 12px;
    line-height: 13px;
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.intro-price{
	color: #ff3300;
	padding-top: 10px;
}
.intro-right{
	float: right;
	height: 70px;
    line-height: 70px;
    background-color: #f60;
    display:none;
}
.intro-right a{
	font-size: 14px;
    color: #fff;
    padding: 11px 66px;
}
.intro-lis{
	width:663px;
	height: 70px;
	line-height: 70px;
	margin:0px auto;
}

.intro-lis li{
	display: inline-block;
}
.intro-lis a{
	display: inline-block;
	font-size: 16px;
	color: #999;
	margin-right: 60px;
}
.intro-lis a:hover{
	color: #333;
}

.intro-lis .intro-cur{
	color:  #0093d5;
    border-bottom: 2px solid #0093d5;
}
.detail-imgs{
	width: 790px;
    margin: 0 auto 90px auto;
}
.detail-imgs img{
	width: 790px;
	margin:0px auto;
}
/* 评价区*/

.user-comment{
	display:none;
}
.comment-title{
	float: left;
	width:250px;
	font-size:20px;
	line-height:20px;
	font-weight:normal;
}
.comment-area{
	float: left;
}

.all-score p{
	float: left;
	line-height:22px;
	margin-right:20px;
}
.star{
	float: left;
	width:116px;
	height:22px;
	background-image:url('../images/detail_sprite.png');
	background-position:0px -22px;
}
.user-lis li{
	padding-top:10px;
	border-top:1px solid #eee;
	margin-top:40px;
}
.desp-box span{
	display:inline-block;
	padding:4px 8px;
	border:1px solid #23d75f;
	background: #ebfcf1;
	border-radius:4px;
	margin:10px 10px 20px 0px;
}
.com-txt{
	line-height:12px;
	margin-bottom:30px;
	color:#666;
}
.user-lis{
	width:950px;
}
.lis-left{
	float: left;
}
.lis-right{
	float: right;
}
.lis-right p{
	color:#999;
	margin-top:6px;
}

.span-lis span{
	display:inline-block;
	height:28px;
	line-height:30px;
	text-align:center;
	padding:0px 35px;
	border:1px solid #E0E0E0;
	border-radius:3px;
	margin:10px 10px 10px 0px;
}
.support{
	color:#999;
	position:relative;
	padding-left:20px;
	line-height:18px;
	cursor:pointer;
}
.support-cur{
	color:#f30;
}
.support-pointer{
	position:absolute;
	width:20px;
	height:18px;
	background-image:url('../images/detail_sprite.png');
	background-position:-20px -90px;
	left:0px;
}
.support-current{
	background-position:0px -90px;
}

.user-img img{
	display:inline-block;
	width:78px;
	height:78px;
	border:1px solid #eee;
	cursor:pointer;
	margin:10px 8px 10px 0px;
}
.zhuip{
	color:#0093d5;
    margin-top: 10px;
    margin-bottom: 4px;
    line-height:22px;
}
.comment-page{
	margin-top:40px;
	padding-top:40px;
	border-top: 1px solid  #e6e6e6;
	text-align:center;
	margin-bottom:70px;
}
.page-ul{
	width:470px;
	height:38px;
	border:1px solid #e6e6e6;
	margin:0px auto;
	line-height:38px;
	background:#fff;
	display:flex;
	justify-content: space-between;
}
.page-ul li{
	width:38px;
	height:38px;
	text-align:center;
	display:inline-block;
	box-sizing: border-box;
	border-left:1px solid #e6e6e6;
	cursor:pointer;
}
.page-cur{
	color:#fff;
	background-color:#0092d8;
}
.next{
    font-size: 20px;
    font-family: simsun;
    border-left:none;
}

/* 划分价格说明 */
.detail-state div{
 margin-top: 20px;
}
.h4{
	font-weight: bold;
	height: 12px;
    line-height: 12px;
    padding-left: 8px;
    margin-bottom: 8px;
    position:relative;
}
.detail-state p{
	color:#989898;
	padding-left:8px;
}
.h4::before{
	content: '';
	width:2px;
	height:12px;
	background-color:#A3A3A3;
	position:absolute;
	left:0px;
}